<!DOCTYPE html>
<html>
    <head>
        <title>AKW Chat</title>
        <link rel="stylesheet" href="style/style.css" type="text/css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="script/clientside.js"></script>
    </head>
    <body>
        <form id="usernameform" action="">
            <input name="username" id="username" placeholder="John Doe" autofocus>
            <button>Enter Chat</button>
        </form>
        <div id="chatdiv">
            <p id="usernameheader"></p>
            <ul id="messages"></ul>
            <p id="typingalert" class="notification"></p>
            <form id="messageform" action="">
                <input id="m" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </body>
</html>